.ui.borderless.topmenu.menu {
  box-shadow: none;
  border: none;
  padding-top: 40px;
  padding-right: 50px;
  color: #636363;
}

.ui.centered.image {
  max-width: 107px;
  width: 100%;
}

.ui.borderless.middle.menu {
  box-shadow: none;
  border: none;
}

.ui.inverted.vertical.segment.one.landpage-image {
  height: 77%;
  background-position: center;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5c47b0d4da02bc7fba52accf/1549076678285-QR90A1J915NGRAG8BFPI/ke17ZwdGBToddI8pDm48kDHPSfPanjkWqhH6pl6g5ph7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0mwONMR1ELp49Lyc52iWr5dNb1QJw9casjKdtTg1_-y4jz4ptJBmI9gQmbjSQnNGng/00000IMG_00000_BURST20181205115652945_COVER.jpg?format=2500w");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ui.centered.aligned.header {
  padding-top: 400px;
  padding-bottom: 400px;
}

.ui.inverted.vertical.segment.two.landpage-image {
  height: 55%;
  background-position: center;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5c47b0d4da02bc7fba52accf/1549075108202-D4KTGY5QDBC68V030PBA/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/photoshopped+cones1.jpg?format=2500w");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ui.big.images {
  margin-left: 150px;
  margin-right: 100px;
}

.ui.massive.image {
  margin-left: 300px;
  margin-right: 300px;
}

.footer.menu{
  padding-top: 50px;
  padding-bottom: 100px;
}

.ui.borderless.bottom.menu {
  margin-left: 710px;
  margin-right: 800px;
  box-shadow: none;
  border: none;
}
